
.content {
    display: flex;
    justify-content: center;
}

.Form.unhidden {
    flex-direction: column;
}

.unhidden {
    animation: reveal 0.5s ease-in;
}

.Form {
    display: flex;
    font-size: 0.65rem;
    width: 100%;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@keyframes reveal {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

.hidden {
    opacity: 0 !important;
    overflow: hidden;
    height: 0px;
}

button.submit {
    background-color: #5355bb;
    color: white;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: calc(1vh + 8px) 0;
    align-self: center;
    width: 35%;
    font-size: .8em;
}

button.submit:hover {    
    background-color: #0c0f86;
    color: #5355bb;
}

p {
    font-size: 200px;
    overflow: hidden
}

@media screen and (max-width: 450px) {
    button.submit {
        font-size: 1.25em;
    }
}
