div .MuiInputLabel-root {
    font-size: 0.8rem;
    
  }
  
div .MuiInputBase-input {
    font-size: 0.8rem;
}

form div.MuiFormControl-root {
    min-width: 1rem;
    
}

.Form.unhidden {
    flex-direction: column;
}

.unhidden {
    animation: reveal 0.5s ease-in;
}

.Form {
    display: flex;
    font-size: 0.75rem;
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@keyframes reveal {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

.hidden {
    opacity: 0 !important;
    overflow: hidden;
    height: 0px;
}

button.submit {
    background-color: #5355bb;
    color: white;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: calc(1vh + 8px) 0;
    align-self: center;
    width: 40%;
    font-size: 0.8rem;
}

button.submit:hover {    
    background-color: #0c0f86;
    color: #5355bb;
}

p {
    font-size: 200px;
    overflow: hidden
}

