
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #1C4273;
    border-radius: 10px;
    padding: 1em 0;
}

.Form.unhidden {
    flex-direction: column;
}

.unhidden {
    animation: reveal 0.5s ease-in;
}

.Form {
    display: flex;
    font-size: 0.65rem;
    max-width: 90vw;
}


form {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 1vw 2vw;
}

@keyframes reveal {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

.hidden {
    opacity: 0 !important;
    overflow: hidden;
    height: 0px;
}

button.submit {
    background: rgba(28, 66, 115, 0.13);
    color: black;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: calc(1vh + 8px) 0;
    align-self: center;
    width: 35%;
    font-size: .8em;
    border: .2rem solid #1C4273;
    border-radius: 10px;
}

button.submit:hover {    
    background: #1C4273;
    color: white;
}


@media screen and (max-width: 520px) {
    button.submit {
        font-size: 1.25em;
    }

   

    input.css-c5v1qu-MuiInputBase-input-MuiFilledInput-input {
        font-size: 0.6rem;
    }

    label.css-11qvwfa-MuiFormLabel-root-MuiInputLabel-root {
        font-size: 0.6rem;
    }
}
